body, html, #shoe, .deck {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}

/**
 *   Individual Card Styles
 */
#card-movie_search_results {
  z-index: 50;
}

/**
 *   Deck styles
 */
.deck {
  position: relative;
}

/**
 *   Deck styles
 */
.deck {
  position: relative;
}

.card {
  height: 100%;
  width: 100%;
  left: -100%;
  position: absolute;
}

.card .active {
  left: 0px;
}

/**
 *   Header taskbar styles
 */

.screenbar {
  @include gradient(#7D9DCE, #ABC1E1, 90deg);
}

header#taskbar {
  color: #FFFFFF;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #BF2628;
 
  h1.branding {
    margin: 0px;
    float: left;
    width: 73px;
    height: 32px;
    text-indent: -10000px;
    overflow: hidden;
    background: url('../img/momemo.png') no-repeat top left;
  }
 
  .clear-search {
    float: right;
    width: 35px;
    height: 35px;
    display: none;
    overflow: hidden;
    text-indent: -10000px;
    background: url('../img/clear.png') 50% 50% no-repeat;
  }
}

header#taskbar.searchactive {
  
  .clear-search {
    display: block;
  }
  
  form#add-movie {
    margin-right: 40px;
  }
}
